Package: com.0xkuj.3dappversionspoofer
Name: 3DAppVersionSpoofer
Version: 2.1.0
Architecture: iphoneos-arm
Description: 3DAppVersionSpoofer with jailbreak detection bypass
Maintainer: dudaalexandr1996-jpg
Author: 0xkuj
Section: Tweaks
